/* Lists of stories */

.stories-list {
	margin: 20px 5px;
}

.stories-list > li {
	color: gray;
	font-size: 0.8rem;
	margin: 10px 0;
}

#stories-loading-msg {
	font-weight: bold;
	font-size: 150%;
	margin: 20px 30px;
}

/* Individual stories */

.story-link {
	color: black;
	font-size: 0.85rem;
	font-weight: 500;
	margin: 18px 0;
}

.story-link:hover {
	text-decoration: none;
	font-weight: bold;
	color: brown;
}

.story-author {
	/* margin-left: 2em; */
	color: green;
	font-weight: bold;
	margin-top: 6px;
	display: block;
}

.story-user {
	font-weight: bold;
	color: orange;
	margin-top: 6px;
	margin-bottom: 1em;
	display: block;
}

.star-space {
	margin: 0;
	padding: 0;
	margin-left: 20px;
}
